<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @admin_order.status %>
</p>

<p>
  <strong>Coin:</strong>
  <%= @admin_order.coin %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @admin_order.quantity %>
</p>

<p>
  <strong>Date:</strong>
  <%= @admin_order.odr_date.strftime('%m/%d/%Y') unless @admin_order.odr_date.blank? %>
</p>

<p>
  <strong>ASK:</strong>
  <%= @admin_order.ask %>
</p>
<p>
  <strong>Bid:</strong>
  <%= @admin_order.bid %>
</p>

<%= link_to 'Edit', edit_admin_order_path(@admin_order) %> |
<%= link_to 'Back', admin_orders_path %>
