<legend> Deposit Section</legend>

<%= form_tag("/withdrawls/deposit", method: "get") do %>
  <%= label_tag(:coin, "Find coin address for:") %>
  <%= select_tag "coin", options_for_select(COIN,params[:coin]) %>
  <br /><br />
  <%= submit_tag("Submit") %>
<% end %>



<h4> Get Coin Address </h4>
<div id="coin_address"><%= @coin_address %></div>
 
