<h2>Orders</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Coin</th>
      <th>Quantity</th>
      <th>Date</th>
      <th>Type</th>
      <th>Bid</th>
      <th>Ask</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.status %></td>
        <td><%= order.coin %></td>
        <td><%= order.quantity %></td>
        <td><%= order.odr_date.strftime('%m/%d/%Y') unless order.odr_date.blank? %></td>
        <td><%= order.trsn_type %></td>
        <td><%= order.bid %></td>
        <td><%= order.ask %></td>
      </tr>
    <% end %>
  </tbody>
</table>
