<h2>Users</h2>

<table class="table table-striped">
  <thead>
    <tr>
			<th>Role</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Pin Code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
				<td>
				<%= link_to user_type(user), admin_home_role_type_path(:user_id => user.id) %>
				</td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.pin_code %></td>
        <td><%= link_to 'Create Order', new_admin_order_path(:user_id => user.id), :class => "btn btn-info" %></td>
        <td><%= link_to 'Create Account History', new_admin_account_history_path(:user_id => user.id), :class => "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
