<legend>Edit <%= resource_name.to_s.humanize %></legend>

<div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => "form-horizontal" }) do |f| %>
	<fieldset>
		<%= devise_error_messages! %>
		
		<div class="control-group">
			<%= f.label :first_name, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :first_name, autofocus: true, :placeholder => 'Enter First Name', :class=>"input-xlarge" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :last_name, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :last_name, autofocus: true, :placeholder => 'Enter Last Name', :class=>"input-xlarge" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :phone_number, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :phone_number, autofocus: true, :placeholder => 'Enter Phone Number', :class=>"input-xlarge" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :account_number, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :account_no, autofocus: true, :placeholder => 'Enter Account Number', :class=>"input-xlarge", :disabled => "disabled"%>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :pin, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :pin_code, autofocus: true, :placeholder => 'Enter Pin code', :class=>"input-xlarge" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :email, :class => "control-label" %>
			<div class="controls">
				<%= f.email_field :email, autofocus: true, :placeholder => 'Enter Email', :class=>"input-xlarge" %>
			</div>
		</div>
		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>
		<div class="control-group">
			<%= f.label :password, :class => "control-label" %>
			<div class="controls">
				<%= f.password_field :password, autofocus: true, :placeholder => 'Enter Password', :class=>"input-xlarge", :value => "" %><i>(leave blank if you don't want to change it)</i><br /> 
			</div>
		</div>
		<div class="control-group">
			<%= f.label :password_confirmation, :class => "control-label" %>
			<div class="controls">
				<%= f.password_field :password_confirmation, autofocus: true, :placeholder => 'Enter Password Confirmation', :class=>"input-xlarge" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :current_password, :class => "control-label" %>
			<div class="controls">
				<%= f.password_field :current_password, autofocus: true, :placeholder => 'Enter Current Password', :class=>"input-xlarge" %>
			</div>
		</div>
		
		<div class="form-actions">
			<%= f.submit "Update", :class => "btn btn-primary", :style=>"width: 18%;" %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Back", :back, :class => 'btn btn-info' %>
		</div>
</fieldset>
<% end %>
<!--legend class="bottom-legend"></legend>
<h3>Cancel my account</h3>

<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-primary' %></p-->
</div>
