<div class="span3 left-div"></div>
<div class="user-sign-in">

	<legend>Sign up</legend>

	<div>
	<%= link_to "<image src='/assets/google-btn.jpeg'>".html_safe, user_omniauth_authorize_path(:google_oauth2) %>
	</div>

	<p class="or">OR</p>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>

		<div>
		<%= f.text_field :first_name, autofocus: true, :placeholder => 'Enter First Name', :class=>"input-xlarge" %></div>
		
		<div>
		<%= f.text_field :last_name, autofocus: true, :placeholder => 'Enter Last Name', :class=>"input-xlarge" %></div>
		
		<div>
		<%= f.email_field :email, autofocus: true, :placeholder => 'Enter Email Address', :class=>"input-xlarge" %></div>

		<div>
			<%= f.password_field :password, autocomplete: "off", :placeholder => 'Enter Password', :class=>"input-xlarge" %></div>

		<div>
			<%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Enter Password Confirmation', :class=>"input-xlarge" %></div>

		<div><%= f.submit "Sign up", :class => 'btn btn-primary', :style=>"width: 38%;" %></div>
	<% end %>

	<legend class="bottom-legend"></legend>
	<%= render "users/shared/links" %>
</div>
